<footer>
    <div class="row">

        <div class="col-lg-12" >
            <h5 class="title">RELEASE DATE</h5>
            <p class="text-small">
                Coming soon
            </p>
            <p class="text-small">
                Are you ready for the revolution in the gaming industry?
            </p>
            <hr class="space">
            <p class="text-small">OUR</p>
            
            <div class="d-flex justify-content-center gap-5 flex-wrap logos">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Rockstar_Games_Logo.svg/960px-Rockstar_Games_Logo.svg.png?_=20161113121956" alt="">
                <img src="https://static.wikia.nocookie.net/rockstargamescompany/images/a/ad/Take-Two_Interactive_Logo.jpg/revision/latest?cb=20141210201552" alt="">
            </div>



            <p>Copyright &copy; Grand Theft Auto VI 2026</p>
        </div>
    </div>
</footer>
