<footer class="announcement text-center py-5">
  <div class="container">

    <h6 class="title">THEY ARE NOT READY FOR DE INDUSTRIES REVOLUTION</h6>

    <p class="text-muted small">
        The most anticipated game by the entire community
    </p>

    <hr class="my-4">

    <div class="d-flex justify-content-center gap-5 flex-wrap sponsors">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Rockstar_Games_Logo.svg/960px-Rockstar_Games_Logo.svg.png?_=20161113121956" alt="logo rockstar-games">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Take-Two_Interactive_Logo.svg" alt="logo tti">
    </div>
 
  </div>
</footer>