<nav class="main-nav py-2">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- LEFT LINKS -->
    <div class="d-flex gap-3">
      <a href="https://www.vidaextra.com/accion/misiones-gta-online-drug-wars-clase-demencia-drogas-tiroteos-que-deseo-para-gta-vi" target="_blank" class="nav-link">MISSIONS</a>
      <a href="https://es.wikipedia.org/wiki/Grand_Theft_Auto_VI#Argumento" target="_blank" class="nav-link">INFO & STORY</a>
      <a href="https://es.wikipedia.org/wiki/Grand_Theft_Auto_VI#Premios_y_reconocimientos" target="_blank" class="nav-link">AWARDS</a>
    </div>

    <!-- CENTER LOGO -->
    <div class="brand">GRAND THEFT AUTO VI</div>

    <!-- RIGHT LINKS -->
    <div class="d-flex gap-3">
      <a href="https://gta.fandom.com/es/wiki/Personajes_de_Grand_Theft_Auto_VI#Protagonistas" target="_blank" class="nav-link">CHARACTERS</a>
      <a href="https://www.youtube.com/watch?v=VQRLujxTm3c" target="_blank" class="nav-link">TRAILER</a>
      <a href="https://www.vidaextra.com/accion/todas-espectaculares-localizaciones-gta-6-ahora-que-lugares-reales-parecen-basarse" target="_blank" class="nav-link">LOCATIONS</a>
    </div>

  </div>
</nav>