<!-- your html code here -->
<section class="py-5 bg-dark text-white">
    <div class="container py-5">    
        <h2 class="spoiler-title text-center mb-5" >Ultimos Spoilers</h2>
        <div class="card gta-card-fixed mt-5 mb-5 mx-auto bg-dark ">
            <div class="row g-0 align-items-center">
                <div class="col-lg-5">
                    <img src="/assets/img/spoiler1.png" class="img-fluid h-100 w-100"  alt="Spoiler 1">
                </div>
                <div class="col-lg-7 text-start">
                    <div class="card-body p-5">
                        <h3 class="card-title fw-bold text-info mb-4 spoiler-1" >Final estilo Bonnie y Clyde</h3>
                        <p class="card-text fs-4 lh-base text-light">Se teoriza que la historia termina con una emboscada policial donde los protagonistas podrían morir, similar a la historia real en la que se basa el juego.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card gta-card-fixed mb-5 mx-auto bg-dark" >
            <div class="row g-0 align-items-center">
                <div class="col-lg-7 text-end">
                    <div class="card-body p-5">
                        <h3 class="card-title fw-bold text-info mb-4 spoiler-2" >Mecánica de pareja y robos</h3>
                        <p class="card-text fs-4 lh-base text-light">Se podrá jugar con ambos protagonistas, permitiendo robar más de 700 tiendas en el mapa y gestionar el inventario de armas en el maletero, tipo "Red Dead Redemption 2".</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="/assets/img/spoiler2.png" class="img-fluid h-100 w-100"  alt="Spoiler 2">
                </div>
            </div>
        </div>
        <div class="card gta-card-fixed mb-5 mx-auto bg-dark">
            <div class="row g-0 align-items-center">
                <div class="col-lg-5">
                    <img src="/assets/img/spoiler3.png" class="img-fluid h-100 w-100"  alt="Spoiler 3">
                </div>
                <div class="col-lg-7 text-start">
                    <div class="card-body p-5">
                        <h3 class="card-title fw-bold text-info mb-4 spoiler-3" >Trasfondo de Lucía</h3>
                        <p class="card-text fs-4 lh-base text-light">La historia comienza con Lucía bajo supervisión, incluyendo un monitor de tobillo, y se rumorea que podría tener un hijo al inicio del juego, complicando la narrativa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>